#  Model Selection and Cross Validation

YouTube Video Link- https://www.youtube.com/watch?v=Bcw8S449QW4&list=PLZoTAELRMXVPkl7oRvzyNnyj1HS4wt2K-&index=4

##### * Linear Classifiers
* Logistic regression
* Naive Bayes classifier
* Fisherâ€™s linear discriminant
##### * Support vector machines
* Least squares support vector machines
##### * Quadratic classifiers
##### * Kernel estimation
* k-nearest neighbor
##### * Decision trees
* Random forests
##### * Neural networks
##### * Learning vector quantization

https://medium.com/datadriveninvestor/classification-algorithms-in-machine-learning-85c0ab65ff4

In [4]:

import numpy as np
import pandas as pd

df = pd.read_csv('Social_Network_Ads.csv')
x = df[['Age','EstimatedSalary']]
y = df['Purchased']

In [5]:

from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [6]:
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state =5)

In [7]:
x_train.head()

     Age  EstimatedSalary
24    46            23000
33    28            44000
396   51            23000
273   39           106000
246   35            50000

In [8]:
knnclassifier = KNeighborsClassifier(n_neighbors=5)
knnclassifier.fit(x_train,y_train)
y_pred = knnclassifier.predict(x_test)
metrics.accuracy_score(y_test,y_pred)

0.77

In [9]:
knnclassifier = KNeighborsClassifier(n_neighbors=3)
knnclassifier.fit(x_train,y_train)
y_pred = knnclassifier.predict(x_test)
metrics.accuracy_score(y_test,y_pred)

0.8

In [10]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [11]:
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state =7)

In [12]:
x_train.head()

     Age  EstimatedSalary
382   44           139000
84    30            62000
115   40            57000
328   36           118000
99    28            37000

In [13]:
knnclassifier = KNeighborsClassifier(n_neighbors=7)
knnclassifier.fit(x_train,y_train)
y_pred = knnclassifier.predict(x_test)
metrics.accuracy_score(y_test,y_pred)

0.78

In [14]:
from sklearn.model_selection import cross_val_score
knnclassifier = KNeighborsClassifier(n_neighbors=4)
print(cross_val_score(knnclassifier, x, y, cv=10, scoring ='accuracy').mean())

0.7925

In [16]:
cross_val_score(knnclassifier, x, y, cv=10, scoring ='accuracy')

array([0.725, 0.9  , 0.9  , 0.9  , 0.8  , 0.7  , 0.775, 0.775, 0.75 ,
       0.7  ])

In [17]:
from sklearn.linear_model import LogisticRegression
logreg = LogisticRegression()
print (cross_val_score(logreg, x, y, cv=10, scoring = 'accuracy').mean())

0.6425000000000001

In [18]:
cross_val_score(logreg, x, y, cv=10, scoring = 'accuracy')

array([0.65 , 0.65 , 0.65 , 0.65 , 0.65 , 0.65 , 0.65 , 0.625, 0.625,
       0.625])